<h1>Message: <%= @conversation.recipient.username %></h1>
<% if @over_ten %>
  <%= link_to "Show previous", '?m=all', class:'button is-link' %>
<% end %>

<% @messages.each do |message| %>
  <% if message.body %>
    <% user = User.find(message.user_id) %>
<hr>
    <strong><%= user.username %>:</strong> <%= message.message_time %>
    <%= sanitize markdown_to_html(message.body) %></div>
  <% end %>
<% end %>

<%= form_for [@conversation, @message] do |f| %>
<hr>
  <%= f.text_area :body, class: "textarea", placeholder: "Inquire about a trade..." %>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <br>
  <%= f.submit "Send message", class: "button is-link is-large mt3" %>

   
<% end %>
<br>
<%= link_to 'Back to conversations', conversations_path %>
