 <article id="messall">
<h1 id='mess1'><%= @conversation.recipient.username %></h1>
<h2 id='mess5'><%= link_to 'Back To Conversations', conversations_path %></h2>
<% if @over_ten %>
  <%= link_to "Show previous", '?m=all', class:'button is-link' %>
<% end %>
<% @messages.each do |message| %>
  <% if message.body %>
    <% user = User.find(message.user_id) %>
<hr>
  <h1 id='mess2'><%= user.username %>@<%= message.message_time %></h1>
  <p id='mess3'><%= sanitize markdown_to_html(message.body) %></div></P>
  <% end %>
<% end %>
<hr>
<div class="input-group" id='mess4'>
  <span class="input-group-text"><%= form_for [@conversation, @message] do |f| %>
  <%= f.text_area :body, class: "textarea", placeholder: "Inquire about a trade..." %>
<br>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <button type="submit" class="btn btn-primary" id="newl4">Send Message</button>
<% end %>
</div>
<br>
</div>
</article>

