<nav class="panel">
  <p>Filter by Listing Type:</p>

  <ul>
    <li>
      <%= link_to 'All',listings_path %>
    </li>

    <li>
      <%= link_to 'Strength', listings_path(listing_type: "Strength")%>
    </li>

    <li>
      <%= link_to 'Cardio', listings_path(listing_type: "Cardio")%>
    </li>

    <li>
      <%= link_to 'Boxing', listings_path(listing_type: "Boxing")%>
    </li>

    <li>
      <%= link_to 'Misc', listings_path(listing_type: "Misc")%>
    </li>
  </ul>
</nav>
