<div id="list2">
<div class="btn-group" role="group">
<!-- Displays all listing_types for filter --> 
  <button type="button" class="btn btn-primary" id="list3"> <%= link_to 'All',listings_path %></button>
  <!-- Displays all listings with a strength listing_types for filter --> 
  <button type="button" class="btn btn-primary" id="list3"><%= link_to 'Strength', listings_path(listing_type: "Strength")%></button>
  <!-- Displays all listings with a cardio listing_types for filter --> 
  <button type="button" class="btn btn-primary" id="list3"> <%= link_to 'Cardio', listings_path(listing_type: "Cardio")%></button>
  <!-- Displays all listings with a boxing listing_types for filter --> 
  <button type="button" class="btn btn-primary" id="list3"><%= link_to 'Boxing', listings_path(listing_type: "Boxing")%></button>
  <!-- Displays all listings with a misc listing_types for filter --> 
  <button type="button" class="btn btn-primary" id="list3"> <%= link_to 'Misc.', listings_path(listing_type: "Misc")%></button>
 </div>
  </div>
 
