
<div id="list2">
<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary" id="list3"> <%= link_to 'All',listings_path %></button>
  <button type="button" class="btn btn-primary" id="list3"><%= link_to 'Strength', listings_path(listing_type: "Strength")%></button>
  <button type="button" class="btn btn-primary" id="list3"> <%= link_to 'Cardio', listings_path(listing_type: "Cardio")%></button>
  <button type="button" class="btn btn-primary" id="list3"><%= link_to 'Boxing', listings_path(listing_type: "Boxing")%></button>
  <button type="button" class="btn btn-primary" id="list3"> <%= link_to 'Misc.', listings_path(listing_type: "Misc")%></button>
 </div>
  </div>
 
