<%= simple_form_for(@listing) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs" id="new12">
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
<div id="newl5">
  <%= f.label :image %>
  <%= f.file_field :image %> 
</div>

<div id="newl5">
<br>
  <%= f.input_field :condition, collection: Listing::CONDITION, prompt: "Condition" %>
  <%= f.input_field :listing_type, collection: Listing::LISTING_TYPES, prompt: "Listing Type" %>
</div>
<div id="newl6">
<br>
</div> 
<br>
<br>
<div id="newl3">
  <button type="submit" class="btn btn-primary" id="newl4">Submit</button>
  <button type="button" class="btn btn-primary" id="newl4"><%= link_to 'Back', listings_path %></button>
</div>
<% end %>
</div>

