<h1 id="list1"> My Listings</h1>
<%= render 'filter'%>
<br>
<div id="border">
  <% @listings.each do |listing| %>
  <main class="card" id='listing_card'>
  <img> <%=  image_tag listing.image%>
  <div class="card-body" id="body_font">
  <ul class="list-group list-group-flush" id="body_font">
    <li class="list-group-item" id="body_font"><strong>Title:</strong> <%= listing.title%></li>
    <li class="list-group-item" id="body_font"><strong>Condition:</strong> <%= listing.condition%></li>
    <li class="list-group-item" id="body_font"><strong>Price: </strong>$<%= listing.price%></li>
    <li class="list-group-item" id="body_font"><strong>Posted By:</strong> <%= listing.user.username %> </li>
  </ul>
  <div id="tag_font">
    <a class="card-link" id="body_font"><%= link_to 'Show', listing%></a>
    <a class="card-link" id="body_font"> <td><%= link_to 'Edit', edit_listing_path(listing) %></td></a>
    <a class="card-link" id="body_font"><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }%></a>
</div> 
</main>
  <% end %>
</div>


