<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @listing.image%>
</p>

<p>
  <strong>Descripttion:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Descripttion:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Listing type:</strong>
  <%= @listing.listing_type %>
</p>

<p>
  <strong>Listed by:</strong>
<%= @listing.user.username %>
</p>
        
<%= button_to'Add to cart', line_items_path(listing_id: @listing)%>

<%= link_to 'Back to Listings', listings_path %>

<%= link_to 'Back to Your Listings', own_listing_path %>





