<%= link_to root_path do %>
    <h1>Workout Jungle</h1>
<% end  %>   

<% if user_signed_in? && current_user.admin %>
    <%= link_to 'Admin', admins_index_path %>
<% else %>
<% end %>            
          
<% if user_signed_in? %>
    <%= link_to 'New Listings', new_listing_path %>
    <%= link_to 'All Listings', listings_path%>
    <%= link_to 'Your Listings', own_listing_path%>
    <%= link_to 'Cart', cart_path(@cart) %>
    <%= link_to 'Inbox', conversations_path %>
    <%= link_to 'Profile', edit_user_registration_path %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
<% end %>