<hr>
<% if total_cart_items %>            
    <span>Current Cart:<%= cart_count_over_one %></span>
<% end %>
<br>
<%= link_to 'Keep Shopping', listings_path%>
<br>
<hr />
<%= render(@cart.line_items) %>
<%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }%>
<br>
<span>Total:</span> <%= number_to_currency(@cart.total_price) %>
      
