
  <div class="list-group">
  <a class="list-group-item list-group-item-action active" aria-current="true" id="line_item_size">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Title: <%= line_item.listing.title %></h5>
      <small>Quantity: <%= line_item.quantity%></small>
    </div>
    <p class="mb-1">Description: <%= truncate(line_item.listing.description, length: 150)%></p>
    <small>Price: <%= number_to_currency(line_item.total_price)%></small> 
  </a>
  </div>

<article id="rem_item">
      <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure? " }%>
      <hr>
</article>
   
 